.loginButton_wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* bigger than 600 */
@media (min-width: 600px) {
    .loginButton_wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
