@import '../../variables.css';

/* outer wrapper */
@keyframes modalFade {
    from {
        opacity: 0;
        transform: scale(1.4);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wrapper-side-authmodal {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 30px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.wrapper-vertical-authmodal {
    align-items: center;
    display: flex;
    margin: 40px auto;
    max-width: 300px;
    min-height: calc(100% - 80px);
    width: 100%;
}

.background-authmodal {
    animation: fadeIn 0.6s ease-out forwards;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.authmodal {
    animation: modalFade 0.6s ease-out forwards;
    background-color: #f6f9fc;
    display: block;
    margin: 0 auto;
    max-width: 300px;
    opacity: 0;
    overflow: hidden;
    padding: 25px;
    pointer-events: auto;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.close-tag {
    cursor: pointer;
    height: 15px;
    opacity: 0.5;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: sweepin 0.5s ease-in-out;
    transition-delay: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease;
    width: 15px;
}

.close-tag:hover:before,
.close-tag:hover:after {
    background-color: darken(black, 10%);
}

.close-tag:before,
.close-tag:after {
    background-color: grey;
    border-radius: 4px;
    content: '';
    height: 20px;
    position: absolute;
    width: 4px;
}

.close-tag:before {
    transform: rotate(-45deg);
}

.close-tag:after {
    transform: rotate(45deg);
}

.title {
    margin: 0 0 10px;
    text-align: center;
    text-transform: none;
}

.button h4 {
    align-items: center;
    margin: auto;
}

.icon {
    height: 30px;
    max-height: 100%;
}

/* @media (min-width: 600px) {
} */
