@import '../../variables.css';

.container {
    width: 100vw;
    height: 94vh;
    padding-top: 60px;
    padding-bottom: 100px;
}

.form-inspection {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    /* align-items: center; */
    justify-content: center;
    background: #f9f9f9;
    border-radius: 4px;
    box-shadow: 10px 10px 8px #888888;
}

.form-inspection > h3 {
    display: block;
    font-size: var(--font-size-h2);
    padding-bottom: 10px;
}

.form-inspection > div {
    padding-bottom: 30px;
}
