@import '@csstools/normalize.css';
@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* @import-normalize; */

:global(body) {
    box-sizing: border-box;
    font-family: 'Nunito', Sans-Serif;
    font-size: var(--font-size-base);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: auto;
    width: 100vw;
}
