@import '../../../variables.css';
/* Mobile under 600px */
.button-login {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    color: var(--text-color-white);
    cursor: pointer;
    font: 14px;
    line-height: inherit;
    margin: 0 7px;
    padding: 5px 10px;
    width: 75px;
}

/* bigger than 600 */
@media (min-width: 600px) {
    .button-login {
        background: linear-gradient(-90deg, #02202c, #001528);
        color: var(--text-color-white);
    }
}
